body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.film-form {
  margin: 10px;
}

.control-panel {
  text-align: center;
  margin: 10px;
}

.control-panel > span {
  margin: 0 5px;
}

.film-table {
  width: 100%;
  text-align: center;
  border-spacing: 0px;
}

.film-cell td {
  border: 1px solid black;
  border-right: none;
}

.table-white {
  background-color: #ffffff;
}

.table-gray {
  background-color: #efefef;
}

.film-cell {
  width: 100%;
  text-align: center;
  border-spacing: 0px;
}


.stars {
  width: 40%;
}

.star-list {
  padding: 0;
  width: 100%;
}

.star-item {
  list-style: none;
  text-align: center;
}

